@import "./partials/_variables.scss";
// import Bootstrap
@import "~bootstrap/scss/bootstrap";

.my-btn-style {
  font-size: 18px;
  line-height: 21px;
  color: $Goldenrod;
  /* border-color: $OrangLine; */
  padding: 17px 40px;
  border: 1px solid $Goldenrod;
}

img {
  /* height: 100%; */
}

h1 {
  color: #ffffff;
}
