@import "./partials/_variables.scss";
// import Bootstrap
@import "~bootstrap/scss/bootstrap";

h1,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface";
  color: #ffffff;
}

.my-btn-style {
  font-size: 18px;
  line-height: 21px;
  color: $Driftwood;
  /* border-color: $OrangLine; */
  padding: 17px 40px;
  text-transform: uppercase;
  border: 1px solid $Driftwood;
  &:hover {
    border-color: $Pizazz;
    color: $Pizazz;
  }
}

.text-paragraph {
  @include textParagraph;
}

.centralize-paragraph {
  @include centralizeParagraph;
}

.centralize-container {
  @include centralizeContainer;
}
